@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .form-card {
         @apply transition-transform duration-1000
         -translate-x-6 -translate-y-8
        lg:translate-x-[50vw] lg:-translate-y-[4rem]
    }
    .form-card.closed {
        @apply translate-x-[100vw] -translate-y-[2rem]
        lg:translate-x-[100vw] lg:-translate-y-[4rem]
    }

}

#add {
    transition: 1s ease;
}

.material-symbols-rounded.big {
    font-size: 48px;
}

.material-symbols-rounded {
    user-select: none;
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded:hover:not(#read):not(#logo) {
    cursor: pointer;
    font-variation-settings: 'FILL' 1;
}

.material-symbols-rounded.clicked#add {
    transform: rotate(45deg);
    font-variation-settings: 'FILL' 1;
}

.material-symbols-rounded.clicked#darkMode {
    font-variation-settings: 'FILL' 1;
}
